@import "~@src/theme/theme";

.CT {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
}

.pro_item {
    width: 20%;
}

@media screen and (max-width: 1700px) {
    .pro_item {
        width: 25%;
    }
}

@media screen and (max-width: 1700px) {
    .pro_item {
        width: 25%;
    }
}

@media screen and (max-width: 1304px) {
    .pro_item {
        width: 33.3333333%;
    }
}

@media screen and (max-width: 1008px) {
    .pro_item {
        width: 50%;
    }
}

@media screen and (max-width: 608px) {
    .pro_item {
        width: 100%;
    }
}

.loading {
    height: 100%;
    width: 100%;
}
