@import "../../../theme/theme.less";

.page_container {
    padding-top: 60px;
}

.mask {
    position: fixed;
    top: 60px;
    left: 0;
    visibility: hidden;
    // 隐藏的时候,300ms后隐藏,透明度ease变化
    transition: opacity 0.3s ease 0ms, visibility 0s ease 400ms;
    background-color: #000;
    opacity: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.mask_show {
    // 显示的时候,立即显示,透明度ease变化
    transition: opacity 0.3s ease 0ms, visibility 0s ease;
    visibility: visible;
    z-index: 1;
    opacity: 0.5;
}

.contain {
    width: 100vw;
    min-height: calc(100vh - 60px);
    background-color: #f2f2f2;
    transition: transform 0.3s ease;
}

.swipe_left {
    transform: translateX(-110px);
}

.swipe_right {
    transform: translateX(110px);
}
