@import "~@src/theme/theme";

.contain {
    position: fixed;
    top: @header_height;
    right: 0;
    width: 220px;
    height: calc(100vh - @header_height);
    transition: right 0.4s ease;
    z-index: @max_z_index - 1;
    background-color: #fff;
}

.hide {
    right: -220px;
}
