/** 抖动 */
@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

.shake_animate:hover {
    animation-name: shake;
    animation-duration: 400ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/** 左右摇摆 */
@keyframes waggle {
    0% {
        transform: translateX(2px);
    }
    20% {
        transform: translateX(-2px);
    }
    40% {
        transform: translateX(2px);
    }
    60% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}

.waggle_animate:hover {
    animation-name: waggle;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

/** 从左向右滑动 */
@keyframes slide_l_to_r {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(120%);
    }
}

/** 旋转 */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/** 摇头 */
@keyframes waggle_head {
    25% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    62.5% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(15deg);
    }
    81% {
        transform: rotate(-7.5deg);
    }
    87% {
        transform: rotate(7.5deg);
    }
    91% {
        transform: rotate(-3deg);
    }
    95% {
        transform: rotate(3deg);
    }
    97% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0);
    }
}
