@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

.shake_animate:hover {
    animation-name: shake;
    animation-duration: 400ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes waggle {
    0% {
        transform: translateX(2px);
    }
    20% {
        transform: translateX(-2px);
    }
    40% {
        transform: translateX(2px);
    }
    60% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(-2px);
    }
}

.waggle_animate:hover {
    animation-name: waggle;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}
