@import "~@src/theme/theme";

.CT {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
}

.CT_inner {
    position: absolute;
    transition: left 0.6s ease;
    margin-top: @header_height;
    width: 100%;
    height: calc(100% - @header_height);
    left: 0;
}

.t_left {
    left: -100px;
}

.t_right {
    left: 100px;
}
