@import "~@src/theme/theme.less";

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: @header_height;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid @border_color;
    z-index: @max_z_index;
    cursor: pointer;
}

.nav_icon_CT {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    .nav_icon {
        display: flex;
        align-items: center;
        margin: 0 20px;
    }

    ul {
        position: relative;
        height: 28px;
        width: 18px;
        overflow: hidden;
        li {
            width: 18px;
            height: 2px;
            background-color: @font_nomal;
            position: absolute;
            transition: all 0.3s ease;
        }
        li:nth-child(1) {
            top: 7px;
            opacity: 1;
            transition-delay: 0ms;
        }
        li:nth-child(2) {
            top: 15px;
            transition-delay: 40ms;
        }
        li:nth-child(3) {
            top: 23px;
            transition-delay: 80ms;
        }
        li:nth-child(4) {
            top: 30px;
            opacity: 0;
            transition-delay: 125ms;
        }
    }
}

.nav_icon_CT:hover {
    ul {
        li:nth-child(1) {
            top: 0;
            opacity: 0;
        }
        li:nth-child(2) {
            top: 7px;
        }
        li:nth-child(3) {
            top: 15px;
        }
        li:nth-child(4) {
            top: 23px;
            opacity: 1;
        }
    }
}

.clicked,
.clicked:hover {
    ul {
        li {
            transition: opacity 0 ease;
        }
        li:nth-child(1) {
            top: 13px;
            opacity: 1;
            transform: rotate(45deg);
        }
        li:nth-child(2) {
            top: 7px;
            opacity: 0;
        }
        li:nth-child(3) {
            top: 13px;
            opacity: 1;
            transform: rotate(-45deg);
        }
        li:nth-child(4) {
            top: 23px;
            opacity: 0;
        }
    }
}



.nav_text,
.right_btn {
    line-height: @header_height;
    font-size: 18px;
    font-weight: bold;
    svg {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
}

.nav_text{
    width: 100px;
    text-align: left;
}

.right_btn {
    flex-shrink: 0;
    cursor: pointer;
    padding: 0 10px;

    img {
        height: 18px;
        width: 18px;
        vertical-align: middle;
    }
    span {
        margin-left: 10px;
        vertical-align: middle;
    }
}

.title {
    line-height: @header_height;
    font-size: 20px;
    font-weight: bold;
    flex: 1;
}

/** 防止内容左右晃动的时候,超出屏幕 */
.right_btn_CT {
    padding: 0 2px;
}
