html,
body {
    height: 100%;
    margin: 0;
    font-family: Microsoft Yahei, DFKai-SB, sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    background-color: #ccc;
}

// ---------------      webkit-scrollbar    -----------------

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 2px rgba(200, 200, 200, 1);
}

::-webkit-scrollbar-track-piece {
    background-color: #e5e5e5;
}

// ------------      文字     ---------------------
.text_2_line_elips {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
