.CT {
    background-color: #efefef;
}

.img_view {
    position: relative;
    overflow: hidden;
    padding: 61.49822485% 100% 0 0;
}

.img {
    position: absolute;
    height: calc(100% + 20px);
    object-fit: cover;
    top: -20px;
    left: 0;
}

.content_view{
    background-color: #fff;
}